@use '../../style/variables';

.container {
  width: 100%;
  min-height: 100vh;
  .header {
    background-color: variables.$backgroundheader-color;
    .wrapper {
      max-width: 1100px;
      margin: auto;
      color: #fff;
      padding: 0.7em 0.5em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .leftcol {
        .title {
          font-size: 1.1em;
          font-weight: 700;
          background-color: variables.$background-color;
          color: #000;
          padding: 0.5em;
        }
      }
      .rightcol {
        .githubIcon {
          cursor: pointer;
          color: #fff;
        }
      }
    }
  }
  .content {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    max-width: 1000px;
    margin: auto;
    gap: 2em;
    .leftcol {
      font-size: 1.4em;
      max-width: 500px;
      .subject {
        font-family: "Fira Mono", monospace;
        > a {
          color: #6a6aff;
          font-family: "Fira Mono", monospace;
          text-decoration: underline;
        }
      }
    }
    .rightcol {
      width: 350px;
      .installHeader {
        font-weight: 800;
        margin-bottom: 5px;
      }
      .availableWrapper {
        display: block;
        margin-top: 1em;
        .first {
          font-weight: 800;
          font-size: 1.1em;
        }
        .last {
          font-size: 0.9em;
          font-family: "Fira Mono", monospace;
        }
      }
    }
  }
}

@media (min-width: 500px) {
  .rightcol {
    margin-top: 0 !important;
  }
}
