@use '../../style/variables';

.container {
  width: 100%;
  .content {
    padding: 1em;
    display: flex;
    align-items: center;
    min-height: 80vh;
    max-width: 1000px;
    gap: 2em;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    .leftcol {
      font-size: 1.3em;
      max-width: 500px;
      .subject {
        font-family: "Fira Mono", monospace;
        > a {
          color: #6a6aff;
          font-family: "Fira Mono", monospace;
          text-decoration: underline;
        }
      }
    }
    .rightcol {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      .viewButton {
        cursor: pointer;
        padding: 0.5em 2em;
        border: 1px solid #000;
        border-radius: 20px;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
        transition: 0.5s;
        &::after {
          content: "";
          transition: 0.5s;
          top: 0;
          left: 0;
          right: 0;
          position: absolute;
          margin: auto;
          height: 100%;
          border-radius: 20px;
          width: 0%;
          background-color: rgba(150, 150, 150, 0.219);
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .content {
    flex-direction: row !important;
    .leftcol {
      font-size: 1.5em !important;
    }
  }
}
