// variables
@use './variables';
// font-familys
// font-family: "Roboto Condensed", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet');
// font-family: "Fira Mono", monospace;
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet');
// font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}
body {
  background-color: variables.$background-color;
  min-height: 100vh;
}
.stroke {
  color: transparent;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 2px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(3, 3, 3);
  border-radius: 10px;
}

// code
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
} /*!
  Theme: An Old Hope – Star Wars Syntax
  Author: (c) Gustavo Costa <gusbemacbe@gmail.com>
  Maintainer: @gusbemacbe

  Original theme - Ocean Dark Theme – by https://github.com/gavsiu
  Based on Jesse Leite's Atom syntax theme 'An Old Hope'
    https://github.com/JesseLeite/an-old-hope-syntax-atom
*/
.hljs {
  background: #1c1d21;
  color: #c0c5ce;
}
.hljs-comment,
.hljs-quote {
  color: #b6b18b;
}
.hljs-deletion,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
  color: #00758a;
}
.hljs-built_in,
.hljs-link,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-params,
.hljs-type {
  color: #e7ce56;
}
.hljs-attribute {
  color: #ee7c2b;
}
.hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol {
  color: #4fb4d7;
}
.hljs-section,
.hljs-title {
  color: #78bb65;
}
.hljs-keyword,
.hljs-selector-tag {
  color: #b45ea4;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
