@use "../../style/variables";
.h1 {
  font-size: 70vh;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.containerImage {
  position: relative;
  height: 80vh;
  width: 100vw;
  min-width: 500px;
}
.whatisThis {
  width: 100vw;
  min-width: 800px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .thanks {
    font-size: 15vh;
    text-align: center;
    transform: rotate(-20deg);
  }
}

.bottom {
  height: 100vh;
  padding: 1em;
  max-width: 1000px;
  margin: auto;
  .enjoy {
    font-size: 11vw;
    letter-spacing: 20px;
  }
  .hr {
    height: 1px;
    background-color: #000;
    margin: auto;
  }
  .github {
    color: variables.$background-color;
    max-width: 400px;
    margin-left: auto;
    padding: 0.2em 0.5em;
    background-color: #000;
    margin-top: 1em;
    font-size: 2em;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &:hover {
      color: #000;
      background-color: rgb(255, 255, 255);
    }
  }
}

.footer {
  background-color: variables.$backgroundheader-color;
  .wrapper {
    font-size: 1.2em;
    padding: 1em;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    p {
      color: #fff;
      cursor: pointer;
    }
  }
}
